@import "./styles/components/button.scss";

/** 大範圍的排版共用：左邊page，右邊menu + info*/
@mixin large-layout-base {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.Tdl {
  height: 100vh;
  font-size: calc(10px + 2vmin);
  position: relative;
  overflow: hidden;
}

.Tdl-video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Tdl-content {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  background-color: yellow;

  // page
  .Tdl-page {
    @include large-layout-base;
  }

  // menu + info
  .Tdl-menu {
    @include large-layout-base;
    background-color: pink;
    .Tdl-menu-button {
      @include tdl-icon-button-wrap(50px);
    }
  }
}
